@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Open+Sans:wght@300&family=Outfit&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Pacifico&family=Passion+One&family=Rubik:ital,wght@0,400;0,700;0,900;1,400&family=Schoolbell&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;600&family=Honk&family=Onest&family=Open+Sans:wght@300;400&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lugrasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

body {
    background: #155984;
    color: #121015;
    font-family: "Raleway", sans-serif;
}

header {
    background: #edf6f9;
    text-align: center;
    padding: 40px;
}

header h1 {
    font-weight: 300;
    font-size: 24px;
}

p {
    margin-bottom: 20px;
}

main {
    background: #edf6f9;
    padding: 20px;
}

main h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 100px;
}

main div {
    background: #c0e297;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

footer {
    font-weight: 600;
    text-align: center;
    background: #e2f0c4;
    color: #e29578;
    padding: 40px;
    border-top: 2px solid #e29578;

}

@media (min-width: 650px) {
    main {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    main p {
        width: 100%;
    }

    main div {
        width: calc(33.3333% - 50px);
    }
}

/* Berk Salman */
.berksalman {
    color: #222d40;
    font-size: 5em;
    text-decoration: #d33939 underline dotted;
    text-decoration-skip: ink;
    opacity: .9;
    padding: 5px;
}

/* michael Akinmeji */
.mic {
    font-size: 48px;
    font-weight: bolder;
    background-color: #ffddcb;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 16px;
    color: #723c1a;
    border: solid 4px #e9c0af;
    border-radius: 16px;
    font-family: comfortaa;
}

/* Lisa Gizri */
.LG {
    font-family: "Baskervville", serif;
    font-size: 80px;
    font-weight: 700;
    color: #412461;
    text-decoration: #a179ff underline double;
}

/* Nathalia Aguiar*/
.nathalia {
    font-family: 'Poetsen One', sans-serif;
    font-size: 60px;
    color: #4e0569;
    text-align: left;
    margin-top: 30px;
}

miguel-santos
/* 
    __  ____                  __
   /  |/  (_)___ ___  _____  / /
  / /|_/ / / __ `/ / / / _ \/ / 
 / /  / / / /_/ / /_/ /  __/ /  
/_/  /_/_/\__, /\__,_/\___/_/   
         /____/       

Totally Didn't Just Steal This

*/
.miguel {
    background: #007AFF;
    border-radius: 10px;
    color: #f5f5f5;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    margin: .7rem;
    padding: .4rem 1.2rem;
    width: fit-content;
    text-decoration: none;
    text-align: center;
    box-shadow: inset 0 2px 4px #ffffff69, 0px 2px 4px -1px #0000004d;
    user-select: none;
  cursor: pointer;
}


/* Nahomi Heredia */

/* Container for NH */
.NH-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:#6a00ff;
  border-radius: 25px;
}

/* Styling the name NH */
.NH {
  font-family: fantasy;
  font-size: 50px;
  color: #fff;
  letter-spacing: 5px;
  text-transform: uppercase;
  position: relative;
  animation: fadeIn 3s ease-out, moveUp 2s ease-out;
}

/* Animations FADE IN*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Glowing effect */
.NH::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ff00ee, #00fff7);
  background-size: 200% 200%;
  animation: glow 2s ease-in-out infinite, moveGlow 4s linear infinite;
  filter: blur(8px);
  z-index: -1;
}

/* Animation Glowing Effect */
@keyframes glow {
  0% {
    background-position: 200% 0;
  }
  50% {
    background-position: 0 100%;
  }
  100% {
    background-position: 200% 0;
  }
}
@keyframes moveGlow {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.RA {
  font-family: 'Fredoka', sans-serif;
  color: #13084f;
  font-size: 4em;
  background: linear-gradient(to right, #374b77, #30548a);
  border: 3px dashed #517de4;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  letter-spacing: 2px;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
}


/* Anthony */
.AOP{
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: #00e7e0;
  padding: 20px;
}